.header {
	font-size: 20px;
	height: 70vh;

	width: 50%;
	background-color: #000;
	position: fixed; /* fixed, relative, absolute*/
	top: 0;
	left: 0;
}

h1 {
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;

	text-align: center; /* left, right*/
	text-decoration: underline;
	text-transform: lowercase;
	letter-spacing: 20px;

	line-height: 1.4;
}

.block {
	/* background-color: grey;  */
	/* background-color: rgb(23, 255, 44); */
	background-color: #1a34ec;
	width: 300px;
	height: 200px;
	border: 10px dotted #000; /* #ff0000  */
	/* padding: 50px;
    padding: 50px 100px;
    padding: 50px 100px 60px; */
	padding: 50px 100px 60px 200px;
	/* padding-top: 40px; 
    padding-left: 40px; */
	margin: 100px;
	box-shadow: 100px 50px 80px 10px red;
}

#title {
	color: red;
}

.title {
	font-size: 20px;
}

p.title {
	font-size: 20px;
}

div.title {
	font-size: 20px;
}
